.download-container {
    position: relative;
    top: 250px;
    max-height: 850px;
    overflow: hidden;
}

.download-group {
    position: relative;
    top: 15rem;
    max-width: 500px;
}

.download-header {
    display: flex;
    position: relative;
    left: 9rem;
    font-weight: bold;
    font-size: 85px;
    line-height: 100%;
    letter-spacing: -3px;
    color: #313131;
}

.download-desc {
    position: relative;
    left: 10rem;
    top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    font-size: 18px;
    line-height: 22px;
    color: #575757;
}

.download-card {
    position: relative;
    top: -50rem;
    left: 45rem;
    
}

.down-apple_img {
    width: 250px;
    height: 130px;
    position: relative;
    top: 40px;
    left: 9.5rem;
}

.down-google_img {
    width: 320px;
    height: 290px;
    position: relative;
    top: -11rem;
    left: 24rem;
}

@media screen and (max-width: 1080px) {
    .download-card {
        width: 90%;
    }
}